{% extends "user.html" %}

{% block articles %}
{% for entry in article %}
	<article class="product">
		<div class="user inline-block">
			<img src="../static/img/persona.jpg" alt="Usuario" class="user-pict block">
			<a href="" class="follow block">Seguir</a>	
		</div>					
		<div class="art-cont inline-block">
			<span class="user-name block">{{entry.user}}</span>
			<span class="product-name inline-block">{{entry.model}}</span>
			<p class="description inline-block">{{entry.short_description}}</p>
			<div class="art-desc relative">
				<figure class="art-pict">
					<img src="{{entry.photo.url}}" alt="Vendabyte" class="">
				</figure>
				<span class="precio absolute">{{entry.price}}</span>
				<span class="add-cart absolute icon-plus"></span>	
				<div class="actions">
					<span class="interest">Me interesa</span>	
					<span class="action icon-heart"></span>	
					<span class="action icon-bubble"></span>	
					<span class="action icon-share"></span>		
				</div>
			</div>
			<div class="comment-cont">
				{% for comment in entry.comment_set.all %}
				<article class="comment">
					<div class="user inline-block">
						<img src="{{comment.photo|0}}" alt="Vendabyte" class="user-pict">
					</div>
					<div class="inline-block">
						<a class="person" href="/users/{{comment.user.username}}" title="{{comment.user}}">{{comment.user}}</a>
						<span class="fecha">{{comment.date_posted}}</span>
						<p class="opinion">
							{{comment.comment}}
						</p>
					</div>
				</article>
				{% endfor %}
			</div>
		</div>	
	</article>
{% endfor %}
{% endblock %}


