<!DOCTYPE html>
<html ng-app="vendabyte">
<head>
	<!--{% load staticfiles %}-->
	<base href="/">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Vendabyte</title>

	<link rel="stylesheet" href="/static/css/user.css">
	<link rel="stylesheet" type="text/css" href="/static/css/ng-img-crop.css">

	<script  type="text/javascript" src="/static/lib/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<script type="text/javascript" src="/static/lib/jquery.js"></script>	

	<script type="text/javascript" src="/static/js/lib/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/angular-route.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/angular-cookies.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/angular-animate.min.js"></script>    
    <script type="text/javascript" src="/static/js/lib/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/angular-easyfb.min.js"></script>  
	<script type="text/javascript" src="/static/js/lib/ng-img-crop.js"></script>
	<script type="text/javascript" src="/static/js/lib/chance.min.js"></script>
</head>
<body ng-controller="MainController">
	<header class="header fixed">		
		<figure class="logo-cont" ng-click="navigate('users/{{user.username}}')">
			<img src="/static/img/logo.jpg" alt="Vendabyte" class="logo">
		</figure>
		<input type="text" placeholder="Busca Articulos, Empresas, Personas" class="search">
		<!--<div class="log-in">Iniciar Seción</div>-->
		<div class="notif-bar inline-block">
			<span class="icon-bell"><span class="notifications none">2</span></span>
			<span class="user-name" ng-click="navigate('users/{{user.username}}/profile')">{{user.first_name}} {{user.last_name}}</span>
			<div class="user-deco inline-block">
				<img src="media/{{user.photo}}" alt="{{user.first_name}} {{user.last_name}}" class="user-pict" ng-click="navigate('users/{{user.username}}/profile')">
			</div>
			<span class="icon-cog"></span>
		</div>	
	</header><!-- /header -->	
	<section class="wrapper relative" ng-view>			
	</section>

	<script type="text/javascript" src="/static/js/user/app.js"></script>
    <script type="text/javascript" src="/static/js/user/controllers.js"></script>
    <script type="text/javascript" src="/static/js/user/services.js"></script>
    <script type="text/javascript" src="/static/js/user/directives.js"></script>
    <script type="text/javascript" src="/static/js/user/filters.js"></script>
</body>
</html>