<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Vendabyte</title>
	<link rel="stylesheet" href="{% static 'css/user.css'%}">
</head>
<body>
	<header class="header relative">		
		<figure class="logo-cont">
			<img src="{% static 'img/logo.jpg'%}" alt="Vendabyte" class="logo">
		</figure>
		<input type="text" placeholder="Busca Articulos, Empresas, Personas" class="search">
		<!--<div class="log-in">Iniciar Seción</div>-->
		<div class="notif-bar inline-block">
			<span class="icon-bell"><span class="notifications"></span></span>
			<span class="user-name">Ramiro Fernandez</span>
			<img src="" alt="Usuario" class="user-pict inline block">
			<span class="icon-cog"></span>
		</div>
		

	</header><!-- /header -->
	<figure class="portada-cont relative none">
			<img src="{% static 'img/portada.png'%}" alt="Vendabyte" class="portada">
		</figure>
	<section class="wrapper relative">		
		<section class="offers-sect absolute">			
			<section class="followers-sect none">
				<li class="follower-cont inline-block relative">
					<div class="inline-block">
						<img src="{% static 'img/persona.jpg'%}" alt="Usuario" class="user-pict block">
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star"></span>	
					</div>					
					<div class="inline-block">
						<span class="user-name">Ramiro Fernandez</span>
						<div class="deco-count">
							<span class="following-count">200</span>
							<span class="following">Siguiendo</span>
						</div>
						<div class="deco-count">
							<span class="followers-count">20</span>	
							<span class="followers">Seguidores</span>
						</div>						
						<div class="follow-user">Seguir</div>
					</div>
				</li>		
				<li class="follower-cont inline-block relative">
					<div class="inline-block">
						<img src="{% static 'img/persona.jpg'%}" alt="Usuario" class="user-pict block">
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star"></span>	
					</div>					
					<div class="inline-block">
						<span class="user-name">Ramiro Fernandez</span>
						<div class="deco-count">
							<span class="following-count">200</span>
							<span class="following">Siguiendo</span>
						</div>
						<div class="deco-count">
							<span class="followers-count">20</span>	
							<span class="followers">Seguidores</span>
						</div>						
						<div class="follow-user">Seguir</div>
					</div>
				</li>		
			</section>	
			<section class="products none">				
			</section>
		</section>
		<section class="load-sect relative">
			<div class="user-cont inline-block relative none">
				<div class="inline-block">
					<img src="{% static 'img/persona.jpg'%}" alt="Usuario" class="user-pict block">					
				</div>					
				<div class="inline-block">
					<span class="user-name block">Ramiro Fernandez</span>
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star"></span>	
					<br/>
					<div id="deco1"class="deco-count">
						<span class="following-count">200</span>
						<span class="following">Siguiendo</span>
					</div>
					<div class="deco-count">
						<span class="followers-count">20</span>	
						<span class="followers">Seguidores</span>
					</div>
				</div>
			</div>		
			<div class="file-browse caja none">
				<div id= "deco" class="deco">
					<span class="">Arrastra las fotos de tu articulo aqui</span>
					<br/>
					<div class="load-button">
						<input type="file" id="files" value="Submit" class="button relative" multiple>
						Buscar el Archivo
					</div>
				</div>				
			</div>
			<div class="upload-box">
				<div id="file1" class="img-load"><img src="" alt="Vendabyte" class=""></div>
				<div id="file2" class="img-load"><img src="" alt="Vendabyte" class=""></div>
				<div id="file3" class="img-load"><img src="" alt="Vendabyte" class=""></div>
				<div id="file4" class="img-load"><img src="" alt="Vendabyte" class=""></div>
				<div id="file5" class="img-load"><img src="" alt="Vendabyte" class=""></div>
			</div>
			<ul class="badgets-cont inline-block relative none">
				<span class="badget-tittle">Mis Badgets</span>
				<li class="badget">iconos</li>
				<li class="badget">iconos</li>
				<li class="badget">iconos</li>
				<li class="badget">iconos</li>
				<li class="badget">iconos</li>
				<li class="badget">iconos</li>
				<li class="badget">iconos</li>
				<li class="badget">iconos</li>
				<li class="badget">iconos</li>

			</ul>
			<ul class="options-menu inline-block none">
				<li id="newest" class="options inline-block">
					<div class="icon">Iconos</div>
					<span class="option">Nuevo</span>
				</li>
				<li id="following" class="options inline-block">
					<div class="icon">Iconos</div>
					<span class="option">Siguiendo</span>
				</li>
				<li id="followers" class="options inline-block">
					<div class="icon">Iconos</div>
					<span class="option">Seguidores</span>
				</li>
				<li id="popular" class="options inline-block">
					<div class="icon">Iconos</div>
					<span class="option">Popular</span>
				</li>
				<li id="interesting" class="options inline-block">
					<div class="icon">Iconos</div>
					<span class="option">Me interesa</span>
				</li>
				<li id="selling" class="options inline-block">
					<div class="icon">Iconos</div>
					<span class="option">Lo vendo</span>
				</li>
			</ul>
		</section>				
	</section>

	<script id="notification-template" type="text/template">
			<span class="icon-bell"><span class="notifications">2</span></span>
			<span class="user-name"><%=username%></span>
			<img src="/media/users/persona.jpg" alt="Usuario" class="user-pict inline block">
			<span class="icon-cog"></span>
  	</script>

  	<script id="user-template" type="text/template">
  			<div class="inline-block">
					<img src="/media/users/persona.jpg" alt="Usuario" class="user-pict block">					
				</div>					
				<div class="inline-block">
					<span class="user-name block"><%=username%></span>
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star"></span>	
					<br/>
					<div id="deco1"class="deco-count">
						<span class="following-count">200</span>
						<span class="following">Siguiendo</span>
					</div>
					<div class="deco-count">
						<span class="followers-count">20</span>	
						<span class="followers">Seguidores</span>
					</div>
				</div>
  	</script>

	<script id="product-template" type="text/template">
			<div class="user inline-block">
				<img src="/media/users/persona.jpg" alt="<%=user.name%>" class="user-pict block">
				<a href="" class="follow block">Seguir</a>	
			</div>					
			<section class="art-cont inline-block">
				<span class="user-name block"><%=user.name%></span>
				<span class="product-name inline-block"><%=model%></span>
				<p class="description inline-block"><%=short_description%></p>
				<section class="art-desc relative">
					<figure class="art-pict">
						<img src="/media/users/ima2.jpg" alt="Vendabyte" class="">
					</figure>
					<span class="precio absolute">RD$<%=price%></span>
					<span class="add-cart absolute icon-plus"></span>	
					<div class="actions">
						<span class="interest">Me interesa</span>	
						<span class="action icon-heart"></span>	
						<span class="action icon-bubble" alt="hola"></span>	
						<span class="action icon-share"></span>		
					</div>					
				</section>
				<div class="comment-box">
					<textarea class="comment-text inline-block" cols="40" rows="5"></textarea>
					<div class="acept button inline-block">Comentar</div>
					<div class="decline button inline-block">Cancelar</div>
				</div>				
				<section class="comment-cont">					
				</section>
			</section>	
  	</script>
  	 <script id="comment-template" type="text/template">
			<div class="user inline-block">
				<img src="/media/users/persona.jpg" alt="<%=user.name%>" class="user-pict">
			</div>
			<div class="inline-block">
				<a class="person" href="<%=user.url%>" title="<%=user.name%>"><%=user.name%></a>
				<span class="fecha"><%=user.date_posted%></span>
				<p class="opinion">
					<%=device_detail%>
				</p>
			</div>
  	</script>
	 <script id="follower-template" type="text/template">
			<div class="inline-block">
				<img src="{% static 'img/persona.jpg'%}" alt="Usuario" class="user-pict block">
				<span class="icon-star"></span>
				<span class="icon-star"></span>
				<span class="icon-star"></span>
				<span class="icon-star"></span>
				<span class="icon-star"></span>	
			</div>					
			<div class="inline-block">
				<span class="user-name"><%=name%></span>
				<div class="deco-count">
					<span class="following-count">200</span>
					<span class="following">Siguiendo</span>
				</div>
				<div class="deco-count">
					<span class="followers-count">20</span>	
					<span class="followers">Seguidores</span>
				</div>						
				<div class="follow-user">Seguir</div>
			</div>
  	</script>
  	


	<script src="{% static 'lib/modernizr-2.6.2-respond-1.1.0.min.js'%}" type="text/javascript"></script>
	<script src="{% static 'js/app.js'%}" type="text/javascript"></script>
	  <script src="{% static 'lib/jquery.js'%}"></script>
	  <script src="{% static 'lib/intercooler-0.3.2.min.js'%}"></script>

</body>
</html>