<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Vendabyte</title>
	<link rel="stylesheet" href="/static/css/home.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
</head>
<body>
	<header class="header fixed">
		<figure class="logo-cont">
			<img src="/static/img/logo.jpg" alt="Vendabyte" class="logo">
		</figure>
		<input type="text" placeholder="Busca Articulos, Empresas, Personas" class="search">
		<div class="log-in inline-block">Iniciar Seción</div>
		</div>	
	</header><!-- /header -->
	<section class="wrapper relative">		
		<section class="offers-sect absolute">				
			<div class="sign-in caja">
				<div class="deco">
					<span class="">Descubre mucho más</span>
					<span class="button"> login with facebook</span>			
				</div>				
			</div>				
			<section class="products none">				
			</section>
		</section>
		<section class="load-sect relative">			
			<div class="file-browse caja none">	
				<div id= "deco" class="deco">
				<span class="">Arrastra las fotos de tu articulo aqui</span>
				<br/>
				<input type="file" id="dropIn" value="Submit" class="dropArea absolute">
				<div class="load-button">
					<input type="file" id="selectIn" value="Submit" class="button relative">
					Buscar el Archivo
				</div>
			</div>			
			</div>
			<img src="../static/img/ima1.jpg" alt="Vende rapido" class="" style="width:100%;">
			<!--<form action="/articles/api/article/" id="registerUser" class="register-box">

				<div class="select-cont">
					<select class="brand-select inline-block">
						<option value="volvo">Samsung</option>
						<option value="volvo">BlackBerry</option>
						<option value="volvo">HTC</option>
						<option value="volvo">Apple</option>
						<option value="volvo">Sony</option>
						<option value="volvo">Toshiba</option>
					</select>

					<select class="model-select inline-block">
						<option value="volvo">Samsung</option>
						<option value="volvo">BlackBerry</option>
						<option value="volvo">HTC</option>
						<option value="volvo">Apple</option>
						<option value="volvo">Sony</option>
						<option value="volvo">Toshiba</option>
					</select>
				</div>				
			</form>-->
		</section>				
	</section>

	<form action="#" id="registerUser" class="none" onsubmit="return false" >
		<label for="datepicker">Fecha de nacimiento</label>
		<input type="text" id="datepicker" required>
		<label for="username">Username</label>
		<input type="text" id="username" required>
		<p id="verMSG" class="none">klk</p>
		<select class="city-select inline-block" required>
				<option value="">Seleccionar ciudad</option>
		</select>	
		<input type="submit" value="Enviar" id="submitUser" style="font-size:1rem;"></input>		
	</form>

	<script id="notification-template" type="text/template">
		<figure class="logo-cont">
			<img src="/static/img/logo.jpg" alt="Vendabyte" class="logo">
		</figure>
		<input type="text" placeholder="Busca Articulos, Empresas, Personas" class="search">
		<div class="log-in inline-block">Iniciar Seción</div>
		</div>		
  	</script>
  	<script id="fblogin-template" type="text/template">
		<div class="deco">
			<span class="">Descubre mucho más</span>
			<span class="button"> login with facebook</span>			
		</div>	
  	</script>

  	<script id="fileSelect-template" type="text/template">
  		<div id= "deco" class="deco">
			<span class="">Arrastra las fotos de tu articulo aqui</span>
			<br/>
			<input type="file" id="dropIn" value="Submit" class="dropArea absolute">
			<div class="load-button">
				<input type="file" id="selectIn" value="Submit" class="button relative">
				Buscar el Archivo
			</div>
		</div>		
  	</script>

	<script id="product-template" type="text/template">
			<div class="user inline-block">
				<div class="user-deco">
					<img src="/media/<%=user.photo%>" alt="<%=user.name%>" class="user-pict block">
				</div>
				<div class="follow block">Seguir</div>	
			</div>					
			<section class="art-cont inline-block">
				<span class="user-name block"><%=user.first_name%> <%=user.last_name%></span>
				<span class="product-name inline-block"><%=model_name%></span>
				<p class="description inline-block"><%=short_description%></p>
				<section class="art-desc relative">
					<figure class="art-pict">
						<img src="/media/<%=articlepicture_set[0].art_img%>" alt="model.model_name" class="">
					</figure>
					<span class="precio absolute">RD$<%=price%></span>
					<span class="add-cart absolute icon-plus"></span>	
					<div class="actions">
						<span class="interest">Me interesa</span>	
						<span class="action icon-heart"></span>	
						<span class="action icon-bubble" alt="hola"></span>	
						<span class="action icon-share"></span>		
					</div>					
				</section>
				<div class="comment-box">
					<textarea class="comment-text inline-block" cols="40" rows="5"></textarea>
					<div class="acept button inline-block">Comentar</div>
					<div class="decline button inline-block">Cancelar</div>
				</div>				
				<section class="comment-cont">					
				</section>
			</section>	
  	</script>
  	 <script id="comment-template" type="text/template">
			<div class="user inline-block">
				<img src="/media/<%=user.photo%>" alt="<%=user.first_name%> <%=user.last_name%>" class="user-pict">
			</div>
			<div class="inline-block">
				<a class="person" href="<%=user.url%>" title="<%=user.first_name%> <%=user.last_name%>"><%=user.first_name%> <%=user.last_name%></a>
				<span class="fecha"><%=date_posted%></span>
				<p class="opinion">
					<%=comment%>
				</p>
			</div>
  	</script>

	<script src="/static/lib/modernizr-2.6.2-respond-1.1.0.min.js" type="text/javascript"></script>
	<script src="/static/lib/jquery.js"></script>	
	<script src="/static/lib/jquery-ui/jquery-ui.js"></script>
	<script src="/static/js/homeapp.js" type="text/javascript"></script>
	<script>
	  $(function() {
	    $("#datepicker").datepicker({ dateFormat: "yy-mm-dd" });
	  });
  	</script>
</body>
</html>
