<!DOCTYPE html>
<html ng-app="vendabyte">
<head>
	<base href="/">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<title>Vendabyte</title>

	<link rel="stylesheet" href="/static/css/home.css">
	<link rel="stylesheet" type="text/css" href="/static/css/ng-img-crop.css">

	<script  type="text/javascript" src="/static/lib/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<script type="text/javascript" src="/static/lib/jquery.js"></script>	

	<script type="text/javascript" src="/static/js/lib/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/angular-route.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/angular-cookies.min.js"></script>
    <!-- <script type="text/javascript" src="/static/js/lib/angular-animate.min.js"></script>    --> 
    <!-- <script type="text/javascript" src="/static/js/lib/angular-sanitize.min.js"></script> -->
    <script type="text/javascript" src="/static/js/lib/angular-easyfb.min.js"></script>  
	<script type="text/javascript" src="/static/js/lib/ng-img-crop.js"></script>
	<script type="text/javascript" src="/static/js/lib/chance.min.js"></script>
	<script type="text/javascript" src="/static/js/lib/ng-infinite-scroll.min.js"></script>
	<script type="text/javascript" src="/static/js/lib/ng-load.js"></script>
</head>
<body ng-controller="MainController">
	<header class="header fixed">
		<figure class="logo-cont" ng-click="navigate('/')">
			<img src="/static/img/logo_vendabyte.png" alt="Vendabyte" class="logo">
		</figure>
		<input type="text" placeholder="Busca Articulos, Empresas, Personas" class="search">
		<div class="log-in inline-block" ng-click="logIn()">Iniciar Sesión</div>
		</div>	
	</header><!-- /header -->
	<section class="wrapper" infinite-scroll="articlesPagin(next)" infinite-scroll-disabled="busy" ng-view>	
	</section>
	<form enctype="multipart/form-data" method="post" name="fileinfo" class="none">
	</form>
	
	<script type="text/javascript" src="/static/js/home/app.js"></script>
    <script type="text/javascript" src="/static/js/home/controllers.js"></script>
    <script type="text/javascript" src="/static/js/home/services.js"></script>
    <script type="text/javascript" src="/static/js/home/directives.js"></script>
    <script type="text/javascript" src="/static/js/home/filters.js"></script>
</body>
</html>
