@import "normalize.styl"
@import "icomoon.styl"
@import "nib"
@import url(http://fonts.googleapis.com/css?family=Ultra);

verde-claro = rgb(79,216,0)
verde-titulos= rgb(145,180,64)
verde-oscuro = rgb(29,118,60)
gris-claro = rgb(236,242,238)
gris-medio = rgb(148,158,147)
gris-oscuro = rgb(66,68,65)
mamei = rgb(255,206,0)
crema = rgb(249,234,216)
opaco = rgba(255,255,255,0.3)
azulfb = blue

body 
	background gris-claro
	font-size 16px
	font-family: 'Ultra', 'serif';

a 
	text-decoration none

.header 
	z-index 5
	width 100%
	height 45px
	background verde-claro
	font-size 0rem
	text-align center
	box-shadow 0px 0px 5px black
	
	.logo-cont
		display inline-block
		
		.logo 
			width 200px
	.log-in
		vertical-align top
		background-color azulfb
		color white
		padding 10px 5px 5px 5px
		box-shadow 0px 0px 5px black
		font-size 1.2rem
		cursor pointer
	.search
		background-color opaco
		border 0
		padding 5px
		border-radius 0 3px 3px 0		
		font-size 1.2rem
		width 400px
		display inline-block
		text-align center
		vertical-align top
		color white
		margin-top 5px
		margin-right 20px
		&:focus
			outline red none 1px
	.notif-bar
		vertical-align top
		.icon-bell
			line-height 45px
			font-size 1.7rem
			display inline-block
			vertical-align top
			color white
			padding 0 10px
			border-right 1px solid opaco
			border-left 1px solid opaco
			position relative
			.notifications
				border-radius 50%
				background-color red
				position absolute
				color white
				font-size 0.7rem
				padding 2px
				line-height 1rem
		.user-name
			display inline-block
			font-size 1.2rem
			color white
			line-height 45px
			vertical-align top
			padding 0 3px
			border-right 1px solid opaco
		.user-pict
			display inline-block
			width 35px
			height 35px
			padding 2px
			vertical-align top
			margin 3px 10px 0 10px
		.icon-cog
			line-height 45px
			font-size 1.7rem
			display inline-block
			vertical-align top
			color white
			padding 0 10px
			border-right 1px solid opaco
			border-left 1px solid opaco


.wrapper
	width 100%
	max-width 1024px
	margin 0 auto	
	border-right 1px solid gris-medio
	background-color white
	font-size 0rem
	overflow hidden

.load-sect
	width 50%
	border-right 1px solid gris-medio
	background-color gris-claro
	text-align center

	img
		width 100%
	.options-menu
		display inline-block
		width 96%
		margin 0
		padding 0
		.options
			display inline-block
			font-size 1.2rem
			height 170px
			width 157.2864px
			background-color gris-claro
			box-shadow 0px 0px 5px gris-medio
			margin-right 2%
			margin-bottom 2%
			cursor pointer
			transition all 0.3s
			&:nth-child(3n+3)
				margin-right 0px
			&:hover
				background-color verde-claro
				box-shadow 0px 0px 0px gris-medio
				color white
				.icon
					background-color white
					color verde-claro
				.option 
					color white
			.icon
				width 100px
				height 100px
				line-height 100px
				border-radius 50%
				background-color verde-claro
				color white
				margin 0 auto
				margin-top 28.6432px
				transition all 0.3s
			.option
				position relative
				color verde-claro
				top 15px
				font-weight bold
				transition all 0.3s
.register-box
	width 96%
						
.caja
	box-shadow 0 0 5px gris-medio
	margin 20px 0px
	width 96%
	display inline-block
	position relative
	background-color gris-claro

	.deco
		border 2px solid gris-medio		
		border-style dashed
		top 5px
		bottom 5px
		left 5px
		right 5px
		margin 0
		position absolute

		#dropIn
			top 0
			left 0
			width 100%
			height 100%
			opacity 0
			padding 0

.file-browse
	height 150px
	text-align center
	font-size 1rem
	
	span
		width 100%
		line-height 150px
		text-align center
		font-size 1.2rem

	.load-button
		position relative
		display inline-block
		background-color verde-claro
		width 200px
		height 30px
		top -50px
		color white
		line-height 30px			
		overflow hidden
		input
			font-size 0.5rem;
			width 100%
			color white
			top -20px
			left 0px
			bottom 0px
			position absolute
			opacity 0
			padding 0
			cursor pointer
			
.offers-sect
	top 0
	right 0
	font-size 1rem
	height 100%
	text-align center
	width 50%
	vertical-align top
	background-color white
	overflow auto


.sign-in
	height 75px
	text-align center

	span
		line-height 65px

.products
	width 96%
	margin 0 auto
	margin-top 20px
	.product
		text-align left
		//overflow hidden
		margin-bottom 20px
		font-size 0rem
		.user
			width 16%
			overflow hidden
			vertical-align top

			.user-deco
				width 70px
				height 70px
				overflow hidden
				border 3px solid crema

		.art-cont
			width 81%
			//float right
			color verde-titulos
			margin-left 3%

			.description 
				margin 0
				font-size 1rem
				padding-left 5px

			.art-desc
				margin-top 5px
				margin-bottom 3px
				width 100%
				font-size 0rem

				.art-pict
					width 100%

					img
						width 100%
				
				.actions
					width 100%
					background-color verde-claro
					height 30px
					color white

					.action
						text-align right
						line-height 30px
						font-size 1.3rem
						margin 0 10px
						float right
						cursor pointer
					.interest
						cursor pointer
						font-size 1rem
						padding 2px 5px
						margin-left 10px
						//background-color white
						line-height 30px
						//color verde-claro
					
				.precio
					font-size 1rem
					top 10px
					padding 5px 10px
					right -5px
					color gris-oscuro
					background-color gris-claro
					box-shadow 0 0 10px gris-oscuro
					opacity 0.98

				.add-cart
					font-size 2.5rem
					bottom 40px
					right 10px
					color verde-claro
					cursor pointer
			.comment-box
				width 100%
				display none
				overflow hidden
				background-color gris-claro
				margin-bottom 3px
				text-align center
				transition all 3s
				font-size 1rem
				.comment-text
					width 96%
					padding 0.8%
					height 100px
					margin-bottom 5px
					margin-top 5px
					font-size 1rem
				.button
					color white
					padding 5px
					margin-bottom 5px
					cursor pointer
					font-size 1rem
			.comment
				background-color gris-claro
				margin-bottom 3px
				font-size 1rem

				.user
					width 10%
					margin-top 2%
					margin-left 2%
					vertical-align top
				div
					margin-top 2%
					width 86%
					padding-bottom 5px
					.person
						color verde-titulos
					.fecha
						color gris-medio
						position relative
						top 5px
					.opinion
						margin 0
						color gris-oscuro
.user-pict
	width 100%

.user-name
	color gris-medio
	font-size 1rem

.product-name
	font-weight bold
	border-right 2px solid 
	padding-right 5px
	font-size 1rem

.follow
	width 90%
	background-color mamei
	text-align center
	padding 5%
	margin-top 10px
	color white
	font-size 1rem
	

.button
	background azulfb
	padding 5px
	cursor pointer
	color white
	border-radius 5px

.block
	display block

.inline-block
	display inline-block

.relative
	position relative

.absolute
	position absolute
 