@import "normalize.styl"
@import "icomoon.styl"
@import "nib"
@import url(http://fonts.googleapis.com/css?family=Ultra);

azul-fb = #3a5795
verde-titulos= #91b440
verde-oscuro = #1d763e
verde-claro = #91b440
gris-claro = #ecf2ee
gris-medio = #949e93
gris-oscuro = #424441
mamei = #e2aa0f
crema = rgb(249,234,216)
opaco = rgba(255,255,255,0.3)

.cropArea
	background gris-medio
	overflow hidden
	width 100%
	height 250px
.cropbtn
	background-color mamei
	color white
	font-size 1.5rem
	cursor pointer
	padding 10px 0px

html
body
	width 100%
	height 100%
body 
	background gris-claro
	font-size 16px
	font-family: 'Ultra', 'serif';
a 
	text-decoration none

.header 
	z-index 5
	width 100%
	height 45px
	background verde-claro
	font-size 0rem
	text-align center
	box-shadow 0px 0px 5px black
	
	.logo-cont
		display inline-block
		cursor pointer
		
		.logo 
			width 200px
	.log-in
		cursor pointer
		display inline-block
		position relative
		vertical-align top
		background-color azul-fb
		color white
		padding 10px 5px 5px 5px
		box-shadow 0px 0px 5px black
		border-radius 0px 0px 5px 5px
		font-size 1.2rem
	.search
		background-color opaco
		border 0
		padding 5px
		border-radius 0 3px 3px 0		
		font-size 1.2rem
		width 400px
		display inline-block
		text-align center
		vertical-align top
		color white
		margin-top 5px
		margin-right 20px
		&:focus
			outline red none 1px			
#registerUser
	position absolute
	width 100%
	height 100%
	background-color gris-medio
	top 0
	z-index 100
.wrapper
	display table
	padding-top 45px
	//min-height 100% //elimiado por el uso de infinite-scroll
	height 100%
	width 100%
	max-width 1024px
	margin 0 auto	
	background-color gris-claro
	font-size 0rem
	z-index 4
	position relative
.wrapper2
	display table
	position relative
	//min-height 100%
	height 100%
	width 100%
	//border-right 1px solid gris-medio
	z-index 5
.load-sect
	z-index 1
	width 511px
	background-color gris-claro
	text-align center
	display table-cell
	position relative
	//min-height	850px
	.home-img
		position fixed
		right 50%
		width 511px					
.caja
	box-shadow 0 0 5px gris-medio
	margin-top 20px 
	width 492px
	display inline-block
	position relative
	background-color gris-claro

	.deco
		border 2px solid gris-medio		
		border-style dashed
		top 5px
		bottom 5px
		left 5px
		right 5px
		margin 0
		position absolute

.offers-sect
	display table-cell
	position relative
	z-index 2
	border-right 1px solid gris-medio
	border-left 1px solid gris-medio
	//outline gris-medio solid thin
	font-size 1rem
	text-align center
	width 511px
	min-height 100%
	vertical-align top
	background-color white

.sign-in
	height 75px
	text-align center

	span
		line-height 65px
	.button
		background-color azul-fb
		color white
		border-radius 10px
		padding 5px

.products
	width 96%
	margin 0 auto
	padding-top 20px
	//margin-top 20px
	.product
		text-align left
		//overflow hidden
		margin-bottom 20px
		font-size 0rem
		.user
			width 16%
			overflow hidden
			vertical-align top

			.user-deco
				width 70px
				height 70px
				overflow hidden
				border 3px solid crema
				cursor pointer

		.art-cont
			width 81%
			//float right
			color verde-titulos
			margin-left 3%
			.user-name
				cursor pointer
			.description 
				margin 0
				font-size 1rem
				padding-left 5px

			.art-desc
				margin-top 5px
				margin-bottom 3px
				width 100%
				font-size 0rem

				.art-pict
					width 100%
					height 438px

					img
						width 100%
						height 100%
				
				.actions
					width 100%
					background-color verde-claro
					height 30px
					color white

					.action
						text-align right
						line-height 30px
						font-size 1.3rem
						margin 0 10px
						float right
						cursor pointer
						&.active
							color mamei
					.interest
						background-color white
						color verde-claro
						cursor pointer
						font-size 1rem
						padding 2px 5px
						margin-left 10px
						line-height 30px
						&.active
							background-color mamei
							color white
					
				.precio
					font-size 1rem
					top 10px
					padding 5px 10px
					right -5px
					color gris-oscuro
					background-color gris-claro
					box-shadow 0 0 10px gris-oscuro
					opacity 0.98

				.add-cart
					font-size 2.5rem
					bottom 40px
					right 10px
					color verde-claro
					cursor pointer
			.comment-box
				width 100%
				overflow hidden
				background-color gris-claro
				margin-bottom 3px
				text-align center
				transition all 3s
				font-size 1rem
				padding 20px 0px
				.button
					color white
					padding 5px
					border-radius 10px
					cursor pointer
					font-size 1rem	
					background-color azul-fb
											
			.comment-cont
				font-size 1rem
				.comment
					background-color gris-claro
					margin-bottom 3px
					.user
						width 10%
						width 40px
						height 40px
						margin 2% 0% 2% 2%
						border 1px solid crema
						vertical-align top
						cursor pointer
					div
						margin-top 2%
						width 86%
						padding-bottom 5px
						.person
							color verde-titulos
							cursor pointer
						.fecha
							color gris-medio
							position relative
							font-size 0.8rem
						.opinion
							margin 0
							color gris-oscuro
							word-wrap break-word
				.show-more-box
					background-color gris-claro
					padding 5px 10px
					border-radius 20px 0 0 20px
					.show-more
						color verde-titulos
						cursor pointer				

.user-pict
	width 100%
	//padding 5%
	//background-color crema

.user-name
	color gris-medio
	font-size 1.2rem

.product-name
	font-weight bold
	border-right 2px solid 
	padding-right 5px
	font-size 1rem

.follow
	width 90%
	background-color mamei
	text-align center
	padding 5%
	margin-top 10px
	color white
	cursor pointer
	font-size 1rem
	

.button
	background verde-claro
	padding 10px
	cursor pointer

.block
	display block

.inline-block
	display inline-block

.relative
	position relative

.absolute
	position absolute
.fixed
	position fixed
.none
	display none

.on-state
	background-color mamei
	color white
.off-state
	background-color white
	color verde-claro	
.vertical-line
	height 100%
	width 1px
	background-color gris-medio
	position absolute
	top 0
	left 50%
	z-index 100