@import "normalize.styl"
@import "icomoon.styl"
@import "nib"
@import url(http://fonts.googleapis.com/css?family=Ultra);

verde-claro = rgb(79,216,0)
verde-titulos= rgb(145,180,64)
verde-oscuro = rgb(29,118,60)
gris-claro = rgb(236,242,238)
gris-medio = rgb(148,158,147)
gris-oscuro = rgb(66,68,65)
mamei = rgb(255,206,0)
crema = rgb(249,234,216)

body 
	background gris-claro
	font-size 16px
	font-family: 'Ultra', 'serif';

a 
	text-decoration none

.header 
	z-index 5
	width 100%
	height 45px
	background verde-claro
	
	.logo-cont
		left 15%
		display inline-block
		
		.logo 
			width 200px
	.log-in
		position absolute
		right 20%
		top 0px
		background-color blue
		color white
		padding 10px 5px 5px 5px
		box-shadow 0px 0px 5px black
		font-size 1.2rem	

.wrapper
	width 100%
	max-width 1024px
	margin 0 auto	
	border-right 1px solid gris-medio
	background-color white
	font-size 0rem
	overflow hidden

.load-sect
	width 50%
	border-right 1px solid gris-medio
	background-color gris-claro
	text-align center

	img
		width 100%
	.options-menu
		display inline-block
		width 96%
		margin 0
		padding 0
		.options
			display inline-block
			font-size 1.2rem
			height 170px
			width 157.2864px
			background-color gris-claro
			box-shadow 0px 0px 5px gris-medio
			margin-right 2%
			margin-bottom 2%
			cursor pointer
			transition all 0.3s
			&:nth-child(3n+3)
				margin-right 0px
			&:hover
				background-color verde-claro
				box-shadow 0px 0px 0px gris-medio
				color white
				.icon
					background-color white
					color verde-claro
				.option 
					color white
			.icon
				width 100px
				height 100px
				line-height 100px
				border-radius 50%
				background-color verde-claro
				color white
				margin 0 auto
				margin-top 28.6432px
				transition all 0.3s
			.option
				position relative
				color verde-claro
				top 15px
				font-weight bold
				transition all 0.3s
					
.caja
	box-shadow 0 0 5px black
	margin 20px 0px
	width 96%
	display inline-block
	position relative

	.deco
		border 3px solid gris-medio
		width 96%
		height 95%
		top 0
		margin-left 2%
		position absolute
		display block
		border-style dashed

.file-browse
	height 150px
	text-align center
	font-size 1rem
	
	span
		width 100%
		line-height 150px
		text-align center
		font-size 1.2rem

	input
		font-size 0.5rem;
		color white
		top -50px
		cursor pointer
.offers-sect
	top 0
	right 0
	font-size 1rem
	height 100%
	text-align center
	width 50%
	vertical-align top
	overflow auto


.sign-in
	height 75px
	text-align center

	span
		line-height 75px

.products
	width 96%
	margin 0 auto
	.product
		text-align left
		overflow hidden
		margin-bottom 20px
		.user
			width 16%
			overflow hidden
			vertical-align top

		.art-cont
			width 81%
			float right
			color verde-titulos

			.description 
				margin 0

			.art-desc
				margin-top 5px
				margin-bottom 3px
				width 100%
				font-size 0rem

				.art-pict
					width 100%

					img
						width 100%
				.actions
					width 100%
					background-color verde-claro
					height 30px
					color white

					.action
						text-align right
						line-height 30px
						font-size 1.3rem
						margin 0 10px
						float right
						cursor pointer

					.interest
						cursor pointer
						font-size 1rem
						padding 2px
						margin-left 10px
						background-color white
						line-height 30px
						color verde-claro
				
				.precio
					font-size 1rem
					top 10px
					padding 5px 10px
					right -5px
					color gris-oscuro
					background-color gris-claro
					box-shadow 0 0 10px gris-oscuro
					opacity 0.98

				.add-cart
					font-size 2.5rem
					bottom 40px
					right 10px
					color verde-claro
					cursor pointer
			
			.comment
				background-color gris-claro
				margin-bottom 3px

				.user
					width 10%
					margin-top 2%
					margin-left 2%
					vertical-align top
				div
					margin-top 2%
					width 86%
					padding-bottom 5px
					.person
						color verde-titulos
					.fecha
						color gris-medio
						position relative
						top 5px
					.opinion
						margin 0
						color gris-oscuro

.user-pict
	width 90%
	padding 5%
	background-color crema

.user-name
	color gris-medio

.product-name
	font-weight bold
	border-right 2px solid 
	padding-right 5px

.follow
	width 90%
	background-color mamei
	text-align center
	padding 5%
	margin-top 10px
	color white
	

.button
	background verde-claro
	padding 10px

.block
	display block

.inline-block
	display inline-block

.relative
	position relative

.absolute
	position absolute
 