<div class="user-cont inline-block relative">
	<div class="inline-block">
		<img src="{{me.photo}}" alt="{{me.first_name}} {{me.last_name}}" class="user-pict block">					
	</div>					
	<div class="inline-block">
		<span class="user-name block">{{me.first_name}} {{me.last_name}}</span>
		<span class="icon-star"></span>
		<span class="icon-star"></span>
		<span class="icon-star"></span>
		<span class="icon-star"></span>
		<span class="icon-star"></span>	
		<br/>
		<div id="deco1"class="deco-count">
			<span class="following-count">{{me.quantity_following}}</span>
			<span class="following">Siguiendo</span>
		</div>
		<div class="deco-count">
			<span class="followers-count">{{me.quantity_followers}}</span>	
			<span class="followers">Seguidores</span>
		</div>
	</div>
</div>	

<ul class="badgets-cont inline-block relative">
	<span class="badget-tittle">Mis Badgets</span>
	<li class="badget">iconos</li>
	<li class="badget">iconos</li>
	<li class="badget">iconos</li>
	<li class="badget">iconos</li>
	<li class="badget">iconos</li>
	<li class="badget">iconos</li>
	<li class="badget">iconos</li>
	<li class="badget">iconos</li>
	<li class="badget">iconos</li>
</ul>