<div class="chat" ng-class="{active:chatActive}">
	<div class="chat-min" ng-show="!chatActive" ng-click="chatToggle()">Chat</div>
	<div class="chat-max" ng-show="chatActive" ng-click="chatToggle()">Chat</div>
	<ul class="chat-users" ng-show="chatActive">
		<li class="chat-user">
			<figure class="chat-user-picture">
				<img src="static/img/persona.jpg">
			</figure>
			<div class="chat-user-info">
				<span class="chat-user-name">Federico Lengueta</span>
				<span class="chat-user-state">Online</span>
			</div>
		</li>
		<li class="chat-user">
			<figure class="chat-user-picture">
				<img src="static/img/persona.jpg">
			</figure>
			<div class="chat-user-info">
				<span class="chat-user-name">Federico Lengueta</span>
				<span class="chat-user-state">Online</span>
			</div>
		</li>
		<li class="chat-user">
			<figure class="chat-user-picture">
				<img src="static/img/persona.jpg">
			</figure>
			<div class="chat-user-info">
				<span class="chat-user-name">Federico Lengueta</span>
				<span class="chat-user-state">Online</span>
			</div>
		</li>
		<li class="chat-user">
			<figure class="chat-user-picture">
				<img src="static/img/persona.jpg">
			</figure>
			<div class="chat-user-info">
				<span class="chat-user-name">Federico Lengueta</span>
				<span class="chat-user-state">Online</span>
			</div>
		</li>
		<li class="chat-user">
			<figure class="chat-user-picture">
				<img src="static/img/persona.jpg">
			</figure>
			<div class="chat-user-info">
				<span class="chat-user-name">Federico Lengueta</span>
				<span class="chat-user-state">Online</span>
			</div>
		</li>
		<li class="chat-user">
			<figure class="chat-user-picture">
				<img src="static/img/persona.jpg">
			</figure>
			<div class="chat-user-info">
				<span class="chat-user-name">Federico Lengueta</span>
				<span class="chat-user-state">Online</span>
			</div>
		</li>
		<li class="chat-user">
			<figure class="chat-user-picture">
				<img src="static/img/persona.jpg">
			</figure>
			<div class="chat-user-info">
				<span class="chat-user-name">Federico Lengueta</span>
				<span class="chat-user-state">Online</span>
			</div>
		</li>
		<li class="chat-user">
			<figure class="chat-user-picture">
				<img src="static/img/persona.jpg">
			</figure>
			<div class="chat-user-info">
				<span class="chat-user-name">Federico Lengueta</span>
				<span class="chat-user-state">Online</span>
			</div>
		</li>
		<li class="chat-user">
			<figure class="chat-user-picture">
				<img src="static/img/persona.jpg">
			</figure>
			<div class="chat-user-info">
				<span class="chat-user-name">Federico Lengueta</span>
				<span class="chat-user-state">Online</span>
			</div>
		</li>
		<li class="chat-user">
			<figure class="chat-user-picture">
				<img src="static/img/persona.jpg">
			</figure>
			<div class="chat-user-info">
				<span class="chat-user-name">Federico Lengueta</span>
				<span class="chat-user-state">Online</span>
			</div>
		</li>
		<li class="chat-user">
			<figure class="chat-user-picture">
				<img src="static/img/persona.jpg">
			</figure>
			<div class="chat-user-info">
				<span class="chat-user-name">Federico Lengueta</span>
				<span class="chat-user-state">Online</span>
			</div>
		</li>
		<li class="chat-user">
			<figure class="chat-user-picture">
				<img src="static/img/persona.jpg">
			</figure>
			<div class="chat-user-info">
				<span class="chat-user-name">Federico Lengueta</span>
				<span class="chat-user-state">Online</span>
			</div>
		</li>
		<li class="chat-user">
			<figure class="chat-user-picture">
				<img src="static/img/persona.jpg">
			</figure>
			<div class="chat-user-info">
				<span class="chat-user-name">Federico Lengueta</span>
				<span class="chat-user-state">Online</span>
			</div>
		</li>
		<li class="chat-user">
			<figure class="chat-user-picture">
				<img src="static/img/persona.jpg">
			</figure>
			<div class="chat-user-info">
				<span class="chat-user-name">Federico Lengueta</span>
				<span class="chat-user-state">Online</span>
			</div>
		</li>
		<li class="chat-user">
			<figure class="chat-user-picture">
				<img src="static/img/persona.jpg">
			</figure>
			<div class="chat-user-info">
				<span class="chat-user-name">Federico Lengueta</span>
				<span class="chat-user-state">Online</span>
			</div>
		</li>
		<li class="chat-user">
			<figure class="chat-user-picture">
				<img src="static/img/persona.jpg">
			</figure>
			<div class="chat-user-info">
				<span class="chat-user-name">Federico Lengueta</span>
				<span class="chat-user-state">Online</span>
			</div>
		</li>
	</ul>
	<div class="chat-search" ng-show="chatActive">
		<input type"text" placeholder="Buscar"/>
	</div>
</div>