<section class="products">   
    <article class="product" ng-repeat="product in articles track by $id(product)" ng-controller="ProductController" ng-init="setProduct(product)">
        <div class="user inline-block">
            <div class="user-deco">
                <img src="{{product.user.photo}}" alt="{{product.user.name}}" class="user-pict block">
            </div>
            <div class="follow block" ng-click="followToggle(product)">Seguir</div>  
        </div>                  
        <section class="art-cont inline-block">
            <span class="user-name block">{{product.user.first_name}} {{product.user.last_name}}</span>
            <span class="product-name inline-block">{{product.model_name}}</span>
            <p class="description inline-block">{{product.short_description}}</p>
            <section class="art-desc relative">
                <figure class="art-pict">
                    <img src="{{product.articlepicture_set[0].art_img}}" alt="model.model_name" class="">
                </figure>
                <span class="precio absolute">RD${{product.price}}</span>
                <span class="add-cart absolute icon-plus"></span>   
                <div class="actions">
                    <span class="interest" ng-click="interestedToggle(product)">Me interesa</span>   
                    <span class="action icon-heart" ng-click="likedToggle(product)"></span> 
                    <span class="action icon-bubble" ng-click="commentToggle()"></span> 
                    <span class="action icon-share"></span>     
                </div>                  
            </section>
            <div ng-controller="CommentsController" ng-init="fetchComments(product)">
                <form name="commentsForm" class="comment-box" role="form" ng-submit="addComment()" ng-if="commentActive" novalidate>
                    <textarea class="comment-text inline-block" cols="40" rows="5" ng-model="comment.comment" required></textarea>
                    <button type="submit" class="acept button inline-block">Comentar</button>
                    <div class="decline button inline-block">Cancelar</div>
                </form>              
                <section class="comment-cont"> 
                   <!--  <article class="comment" ng-repeat="comment in product.comment_set track by $id(comment)"> -->
                    <article class="comment" ng-repeat="comment in comments track by $id(comment)">
                        <div class="user inline-block">
                            <img src="{{comment.user.photo}}" alt="{{comment.user.first_name}} {{comment.user.last_name}}" class="user-pict">
                        </div>
                        <div class="inline-block">
                            <a class="person" href="{{comment.user.url}}" title="{{comment.user.first_name}} {{comment.user.last_name}}">{{comment.user.first_name}} {{comment.user.last_name}}</a>
                            <span class="fecha">{{comment.date_posted}}</span>
                            <p class="opinion">
                                {{comment.comment}}
                            </p>
                        </div>
                    </article>                                       
                </section>    
            </div>                    
        </section>                    
    </article>                    
</section>