@font-face
  font-family 'icomoon'
  src url('../fonts/icomoon.eot?6kkry2')
  src url('../fonts/icomoon.eot?#iefix6kkry2') format('embedded-opentype'),
 url('../fonts/icomoon.woff?6kkry2') format('woff'),
		url('../fonts/icomoon.ttf?6kkry2') format('truetype'),
		url('../fonts/icomoon.svg?6kkry2#icomoon') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'icomoon'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-bell
  &:before
    content "\e600"

.icon-bubble
  &:before
    content "\e601"

.icon-cog
  &:before
    content "\e602"

.icon-heart
  &:before
    content "\e603"

.icon-checkmark-circle
  &:before
    content "\e604"

.icon-share
  &:before
    content "\e605"

.icon-star
  &:before
    content "\e606"

.icon-chat
  &:before
    content "\e607"

.icon-plus
  &:before
    content "\e608"

