<div class="wrapper2 relative">     
    <section class="load-sect relative inline-block">
        <div class="cont-izq">
            <div ng-controller="ArticleUploadCtrl">

                <file-select></file-select>                

                <article-form></article-form>
            </div>
        </div>

        <options-menu></options-menu>

    </section>
    <section class="offers-sect inline-block">          
        <vendabyte-followers></vendabyte-followers>
    </section>
</div>                  