<div class="wrapper2">     
    <section class="load-sect">
        <div class="file-browse caja none"> 
            <div id= "deco" class="deco">
                <span class="">Arrastra las fotos de tu articulo aqui</span>
                <br/>
                <input type="file" id="dropIn" value="Submit" class="dropArea absolute">
                <div class="load-button">
                    <input type="file" id="selectIn" value="Submit" class="button relative">
                    Buscar el Archivo
                </div>
            </div>          
        </div>
        <img src="../static/img/ima1.jpg" alt="Vende rapido" class="home-img">
    </section>
    <section class="offers-sect">   
        <div class="sign-in caja">
            <div class="deco">
                <span class="">Descubre mucho más</span>
                <span class="button" ng-click="login()"> login with facebook</span>            
            </div>              
        </div>          
        <vendabyte-products><vendabyte-products>
    </section>
</div>    