<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Vendabyte</title>
	<link rel="stylesheet" href="../static/css/user.css">
</head>
<body>
	<header class="header relative">		
		<figure class="logo-cont relative">
			<img src="../static/img/logo.jpg" alt="Vendabyte" class="logo">
		</figure>
		<input type="text" placeholder="Busca Articulos, Empresas, Personas" class="search">
		<div class="log-in">Iniciar Seción</div>
	</header><!-- /header -->
	<figure class="portada-cont relative">
			<img src="../static/img/portada.png" alt="Vendabyte" class="portada">
		</figure>
	<section class="wrapper relative">		
		<section class="offers-sect absolute">			
			<section class="followers-sect">
				<li class="follower-cont inline-block relative">
					<div class="inline-block">
						<img src="../static/img/persona.jpg" alt="Usuario" class="user-pict block">
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star"></span>	
					</div>					
					<div class="inline-block">
						<span class="user-name">Ramiro Fernandez</span>
						<div class="deco-count">
							<span class="following-count">200</span>
							<span class="following">Siguiendo</span>
						</div>
						<div class="deco-count">
							<span class="followers-count">20</span>	
							<span class="followers">Seguidores</span>
						</div>						
						<div class="follow-user">Seguir</div>
					</div>
				</li>		
				<li class="follower-cont inline-block relative">
					<div class="inline-block">
						<img src="../static/img/persona.jpg" alt="Usuario" class="user-pict block">
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star"></span>	
					</div>					
					<div class="inline-block">
						<span class="user-name">Ramiro Fernandez</span>
						<div class="deco-count">
							<span class="following-count">200</span>
							<span class="following">Siguiendo</span>
						</div>
						<div class="deco-count">
							<span class="followers-count">20</span>	
							<span class="followers">Seguidores</span>
						</div>						
						<div class="follow-user">Seguir</div>
					</div>
				</li>		
			</section>	
			<section class="products">
				<article class="product">
					<div class="user inline-block">
						<img src="../static/img/persona.jpg" alt="Usuario" class="user-pict block">
						<a href="" class="follow block">Seguir</a>	
					</div>					
					<div class="art-cont inline-block">
						<span class="user-name block">Ramiro Fernandez</span>
						<span class="product-name inline-block">Android Phone</span>
						<p class="description inline-block">Pa rapido</p>
						<div class="art-desc relative">
							<figure class="art-pict">
								<img src="../static/img/ima2.jpg" alt="Vendabyte" class="">
							</figure>
							<span class="precio absolute">RD$15,000.00</span>
							<span class="add-cart absolute icon-plus"></span>	
							<div class="actions">
								<span class="interest">Me interesa</span>	
								<span class="action icon-heart"></span>	
								<span class="action icon-bubble"></span>	
								<span class="action icon-share"></span>		
							</div>
						</div>
						<div class="comment-cont">
							<article class="comment">
								<div class="user inline-block">
									<img src="../static/img/persona.jpg" alt="Vendabyte" class="user-pict">
								</div>
								<div class="inline-block">
									<a class="person" href="{{user-url}}" title="{{user}}">{{user}}</a>
									<span class="fecha">12/8/2014</span>
									<p class="opinion">
										Rehabilitated? well, now let me see. you know, I don't have any idea whata that menas. I now issue.
									</p>
								</div>
							</article>
							<article class="comment">
								<div class="user inline-block">
									<img src="../static/img/persona.jpg" alt="Vendabyte" class="user-pict">
								</div>
								<div class="inline-block">
									<span class="person">Ramiro Fernandez</span>
									<span class="fecha">12/8/2014</span>
									<p class="opinion">
										Rehabilitated? well, now let me see. you know, I don't have any idea whata that menas. I now issue.
									</p>
								</div>
							</article>
						</div>
					</div>	
				</article>
			</section>
		</section>
		<section class="load-sect relative">
			<div class="user-cont inline-block relative">
				<div class="inline-block">
					<img src="../static/img/persona.jpg" alt="Usuario" class="user-pict block">					
				</div>					
				<div class="inline-block">
					<span class="user-name block">Ramiro Fernandez</span>
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star"></span>	
					<br/>
					<div id="deco1"class="deco-count">
						<span class="following-count">200</span>
						<span class="following">Siguiendo</span>
					</div>
					<div class="deco-count">
						<span class="followers-count">20</span>	
						<span class="followers">Seguidores</span>
					</div>
				</div>
			</div>		
			<div class="file-browse caja">
				<div class="deco"></div>
				<span class="">Arrastra las fotos de tu articulo aqui</span>
				<br/>
				<input type="file" value="Submit" class="button relative">

			</div>
			<ul class="badgets-cont relative">
				<span class="badget-tittle">Mis Badgets</span>
				<li class="badget">iconos</li>
				<li class="badget">iconos</li>
				<li class="badget">iconos</li>
				<li class="badget">iconos</li>
				<li class="badget">iconos</li>
				<li class="badget">iconos</li>
				<li class="badget">iconos</li>
				<li class="badget">iconos</li>
				<li class="badget">iconos</li>

			</ul>
			<ul class="options-menu">
				<li class="options inline-block">
					<div class="icon">Iconos</div>
					<span class="option">Nuevo</span>
				</li>
				<li class="options inline-block">
					<div class="icon">Iconos</div>
					<span class="option">Siguiendo</span>
				</li>
				<li class="options inline-block">
					<div class="icon">Iconos</div>
					<span class="option">Seguidores</span>
				</li>
				<li class="options inline-block">
					<div class="icon">Iconos</div>
					<span class="option">Popular</span>
				</li>
				<li class="options inline-block">
					<div class="icon">Iconos</div>
					<span class="option">Me interesa</span>
				</li>
				<li class="options inline-block">
					<div class="icon">Iconos</div>
					<span class="option">Lo vendo</span>
				</li>
			</ul>
		</section>				
	</section>
	<script id="product-template" type="text/x-handlebars-template">
			<div class="user inline-block">
				<img src="{{avatar}}" alt="Usuario" class="user-pict block">
				<a href="" class="follow block">Seguir</a>	
			</div>					
			<section class="art-cont inline-block">
				<span class="user-name block">{{user}}</span>
				<span class="product-name inline-block">{{product}}</span>
				<p class="description inline-block">{{description}}</p>
				<section class="art-desc relative">
					<figure class="art-pict">
						<img src="{{cover}}" alt="Vendabyte" class="">
					</figure>
					<span class="precio absolute">RD${{precio}}</span>
					<span class="add-cart absolute icon-plus"></span>	
					<div class="actions">
						<span class="interest">Me interesa</span>	
						<span class="action icon-heart"></span>	
						<span class="action icon-bubble"></span>	
						<span class="action icon-share"></span>		
					</div>
				</section>
				<section class="comment-cont">					
				</section>
			</section>	
  	</script>
  	<script id="comment-template" type="text/x-handlebars-template">
			<div class="user inline-block">
				<img src="{{avatar}}" alt="Vendabyte" class="user-pict">
			</div>
			<div class="inline-block">
				<a class="person" href="{{user-url}}" title="{{user}}">{{user}}</a>
				<span class="fecha">{{date}}</span>
				<p class="opinion">
					{{comment}}
				</p>
			</div>
  	</script>


	<script src="../static/lib/jquery.js" type="text/javascript"></script>
	<script src="../static/lib/underscore.js" type="text/javascript"></script>
	<script src="../static/lib/handlebars-v1.3.0.js" type="text/javascript"></script>
	<script src="../static/lib/modernizr-2.6.2-respond-1.1.0.min.js" type="text/javascript"></script>		
	<script src="../static/lib/backbone.js" type="text/javascript"></script>
	<script src="../static/js/app.js" type="text/javascript"></script>
	<script src="../static/js/models/product.js" type="text/javascript"></script>
	<script src="../static/js/models/comment.js" type="text/javascript"></script>
	<script src="../static/js/collections/products.js" type="text/javascript"></script>	
	<script src="../static/js/collections/comments.js" type="text/javascript"></script>
	<script src="../static/js/views/product.js" type="text/javascript"></script>
	<script src="../static/js/views/productList.js" type="text/javascript"></script>
	<script src="../static/js/views/comment.js" type="text/javascript"></script>
	<script src="../static/js/views/commentList.js" type="text/javascript"></script>
	<script src="../static/js/routers/router.js" type="text/javascript"></script>
	<script src="../static/js/main.js" type="text/javascript"></script>
</body>
</html>